<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend Store - Nosotros</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<header class="header">
    <a href="index.html">
        <img class="header__logo" src="/assets/img/logo.png" alt="Logotipo">
</header>

<nav class="navegacion">
    <a class="navegacion__enlace" href="../index.html">TIENDA</a>
    <a class="navegacion__enlace navegacion__enlace--activo" href="/views/nosotros.html">NOSOTROS</a>
</nav>

<main class="contenedor">
    <h1>Sobre Nosotros</h1>

    <div class="nosotros">
        <div class="nosotros__contenido">
            <p>Sed non urna eget neque accumsan vestibulum vitae ut mi. Aliquam viverra commodo magna nec scelerisque. Ut fringilla eu purus elementum rhoncus. Duis ornare odio id odio gravida, sed pharetra orci dignissim. Nullam ex lorem, convallis eu ultrices vitae, congue vel ex. Etiam eros nibh, eleifend ac tincidunt vel, aliquet ut dui. Suspendisse et lorem rutrum, egestas velit quis, commodo purus. Sed posuere sed sapien et sagittis. </p>

            <p>Aliquam hendrerit vehicula metus vel tempor. Aliquam erat volutpat. Maecenas elementum sed augue id scelerisque. Quisque et sem fringilla, viverra diam vitae, pulvinar magna. Morbi auctor vestibulum ex eget pharetra. Ut rutrum suscipit purus eu vestibulum. Mauris ut volutpat ante. Curabitur scelerisque finibus nisi, a volutpat lectus condimentum quis. Ut vel augue sit amet risus lacinia aliquet id non tortor. Aenean maximus convallis elit, ac auctor lectus pretium vel. </p>
        </div>
        <img class="nosotros__imagen" src="/assets/img/nosotros.jpg" alt="Imagen nosotros">
    </div>
</main>

<footer class="footer">
    <p class="footer__texto">Frontend Store - Todos los derechos reservados 2024.</p>
</footer>
</body>

</html>