:root {
    --primario: #fff8ec;
    --primarioOscuro: #d5cabd;
    --alternativoPrimario: #c3ad90;
    --alternativoOpacidad: #c3ad9050;
    --secundario: #bd871f;
    --secundarioOscuro: #aa771a;
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*GLOBABLES*/

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/*Header*/

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 1rem 0;
    max-width: 200px;
}

/** Footer **/

.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2rem;
}

/** Navegacion **/

.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    /** Separacion forma nueva**/
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2.5rem;
    margin: 0 1rem;
    /*transition: ease 0.5s;*/
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/** Grid **/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/** Productos **/

.producto {
    background-color: var(--alternativoPrimario);
    padding: 1rem;
    border-radius: 2rem;
}

.producto__imagen {
    border-radius: 1rem;
}

.producto__nombre {
    font-size: 2.5rem;
}

.producto__precio {
    font-size: 1.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/** Graficos **/

.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
    border-radius: 2rem;
}

.grafico--camisas {
    grid-row: 2 / 3;
    background-image: url(/assets/img/graficos/grafico1.jpg);
}

.grafico--node {
    background-image: url(/assets/img/graficos/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* Nosotros */

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
    column-gap: 2rem;
    
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__contenido p {
    color: var(--negro) !important;
}

.nosotros__imagen {
    grid-row: 1 / 2;
}

@media (min-width: 768px) { 
    .nosotros__imagen {
        grid-column: 2 / 3; 
    }
}

/*Bloques*/

.comprar {
    background-color: var(--primarioOscuro);
    border-radius: 2rem;
}

.comprar h2 {
    color: #534807;
}

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) { 
    .bloques {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
    color: #534807;
}


/* Pagina del producto */

.camisa__contenido p {
    color: var(--negro) !important;
}

@media (min-width: 768px) { 
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal);
    padding: 1rem;
    appearance: none;
    border-radius: 1.4rem;
}

.formulario__submit {
    background-color: var(--secundario);
    color: var(--blanco);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 1rem;
    transition: background-color 0.3s ease;
    border-radius: 1.4rem;
    grid-column: 1 / 3;
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}